@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf");

    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");

    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");

    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");

    font-display: swap;
}
div.menu-menu-1-container, form.wpcf7-form{
	display: none;
}
div.menu-menu-1-container.ready-menu{
	display: block;
}
.page-balcone .title-post.text-center{
	color: transparent;
}
.page-balcone .section-preference .title-section{
	margin-top: -15px;
}
.section-type-mosquito a.btn.btn-custom-project{
	max-width: 217px;
}
a.btn.btn-href{
	width: 160px;
	font-size: 16px;
	padding: 14px;
	text-transform: uppercase;
}
a.btn.btn-href-2{
	width: 260px;
	font-size: 17px;
	padding: 16px;
	text-transform: uppercase;
}
a.btn.btn-href-3{
	width: 160px;
	font-size: 16px;
	padding: 10px;
	text-transform: uppercase;
}
a.btn.btn-href-4{
	font-size: 16px;
	padding: 15px !important;
	text-transform: uppercase;
}
/*breadcrumbs*/
.breadcrumbs span{
	color: #707070;
	font-size: 15px;
}
.breadcrumbs .breadcrumbs__separator{
	margin: 0 10px;
}

.section-post.section-post-windows.post-border-none{
	border-bottom: none;
}
.page-window-ebb .section-other-section.section-other-type-windows{
	border-top: none;
}

.page-roller .section-other-section {
	margin-top: 25px;
}

.title-type-windows-open{
	font-size: 14px;
	font-weight: 500;
	display: block;
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	.phone .binct-phone-number-1 {
		color: #fff;
		font-weight: 500;
		padding: 0 5px;
		font-size: 14px;
	}
	.phone .phone-item {
		font-size: 14px;
		font-weight: 500;
		color: #fff;
	}
	.phone .dropdown-menu {
		left: -5px;
	}
	.phone-item.dropdown-item {
		color: #78838a;
		padding-bottom: 5px;
		padding-left: 7px;
	}
	.phone-toggle :after {
		border: none;
		content: "";
		display: block;
		width: 14px;
		min-width: 14px;
		height: 14px;
		min-height: 14px;
		margin: 0 10px 0 7px;
		background: url(../images/white-down-arrow-png-2.png) no-repeat 50%;
		background-size: auto 100%;
	}
}
.page-balcone .section-my-work .item-catalog .header-item-catalog{
	line-height: 140%;
	min-height: 50px;
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
}
@media (min-width: 768px) {
    .section-type-mosquito .text {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
	.block-like-type .list-scheme-works {
		margin-bottom: 15px;
	}
}
@media (min-width: 992px) {
	.page-windows .title-post {
		margin-bottom: 10px;
		margin-top: 7px;
	}
	.list-slider-type-systems .slick-next, .list-slider-type-systems .slick-prev {
		top: 30%;
	}
	.page-window-ebb .item-catalog.page .text-list-img {
		min-height: 115px;
	}
	.item-type-glass .info-glassproduct{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.page-systems .section-post.section-post-windows {
		padding-top: 27px;
	}

	.title-type-windows-open{
		font-size: 18px;
		padding-top: 7px;
		margin-left: 25px;
	}
	.page-balcone .list-item-catalog.colum-3 .item-catalog {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.page-balcone .list-item-catalog.colum-4 .item-catalog {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.page-balcone .text-list-img {
		margin-bottom: auto;
		padding-bottom: 33px;
		display: block;
	}

	.footer .block-3 .list-soc li:last-child{
		margin-right: 0;
	}
    .footer .block-1 .list-bank .bank-mono {
        width: 35px;
    }
	.page-balcone .section-my-work .item-catalog .header-item-catalog {
		line-height: 120%;
		min-height: 74px;
	}
}
.list-decor-circle{
	list-style-type: disc;
	margin-left: 25px;
}

/* Сетка под Цвет Окна */
.block-color-selection .block-colors > div{
	display: none;
}
.block-color-selection .block-colors > div:first-child{
	display: block;
}
#color-list label{
	cursor: pointer;
}
.block-item-product .title-header{
	display: block;
}
.title-section-profile {
	font-weight: 500;
}
.additional-drop .title-section-sec {
	display: block;
	font-weight: 500;
}

.cursor-custom {
	display: block;
	font-weight: 500;
}
.profile-brand .title-section-profile{
	font-weight: 500;
}
.list-type-windowsill {
	align-items: baseline;
}
.list-page-disc{
	list-style-type: disc;
}

.footer .block-1 ul.cities li {
    margin-left: 0;
}

.footer .block-3 .list-contact, .footer .block-3 .list-soc {

	margin-top: 4px;
}
.list-style-disc{
	list-style: disc;
	margin-left: 40px;
}
.section-post ol {
	margin-left: 40px;
}
section.section-unlinking.page-404 {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1.title-section-404 {
    font-size: 88px;
}
.section-post.section-post-windows.post-page-agency .title-post {
	margin-bottom: 12px;
	margin-top: 25px;
	text-transform: inherit;
}
@media (min-width: 768px) and (max-width: 991px){
	.item-type-glass-partitions.systems .img-block {
		height: 400px;
	}
	.item-type-glass-partitions .footer-item-type-glass-partitions .item-price-custom {
		min-width: 150px;
	}
}
@media (max-width: 1300px) {
	a.btn.btn-href {
		font-size: 11px;
		padding: 8px;
		max-width: 130px;
	}
	.block-video iframe {
		max-height: 300px;
	}
	.breadcrumb {
		background-color: transparent;
	}
	.section-post.section-post-windows.post-page-agency .title-post {
		font-size: 15px;
	}
    .footer .block-1 .list-bank img {
        height: 33px;
    }
    .footer .block-1 .list-bank .bank-mono {
        margin: 0;
    }
    .title-section-profile {
        font-size: 15px;
    }

}
@media (min-width: 1300px) {
    h1.title-section-404 {
        font-size: 88px;
    }
	.section-post.section-post-windows.post-page-agency .title-post {
		margin-top: 45px;
	}
    .footer .block-1 .list-bank img {
        height: 36px;
    }
    .footer .block-1 .list-bank .bank-mono {
        margin: 0;
    }
	.page-balcone .section-my-work .item-catalog .header-item-catalog {
		line-height: 100%;
		min-height: 80px;
		padding: 10px 0;
	}
}
.section-post.section-post-windows.post-page-agency .title-section {
	text-align: left;
}
.slick-slide {
	height: auto;
}

.block-video > iframe {
	width: 100%;
	height: 100%;
}

.map > iframe {
	width: 100%;
	height: 450px;
}

.list-page-disc {
	margin-left: 20px;
}
.section-post.post-border{
	border-bottom: 8px solid #2792de;
}

.post-border{
	border-bottom: 8px solid #2792de;
}
.post-border-top{
	border-top: 8px solid #2792de;
}
.phone-toggle .phone-item:after, .phone-toggle .binct-phone-number-1:after{
	content: none;
}

.breadcrumb {
	background-color: transparent!important;
	line-height: 190%;
}